section {
    max-width: 1200px;
    padding: 20px;
    margin: 10px auto;
    background-color: #f8f9fd97;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 250px);
}

.main-image {
    width: 500px;
    height: 650px; /* 固定の高さを設定 */
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    object-fit: cover; /* 画像をコンテナ内にフィットさせる */
    animation: float 10s ease-in-out infinite; /*アニメーションを追加*/
    transition: opacity 1s ease-in-out; 
}

@keyframes float { /*アニメーションのキーフレーム*/
    0%, 50%, 100% {
        transform: translateY(0);
        rotate: 0;
    }
    25% {
        transform: translateY(-10px);
        rotate: -1.5deg;
    }
    75% {
        transform: translateY(-10px);
        rotate: 2deg;
    }
}

.info {
    background-color: #9a64cab5;
    text-align: center;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.info p {
    margin-bottom: 25px;
}

.line {
    background-color: #ffffff;
    padding: 2px;
    border-radius: 20px;
}

.tag {
    margin: 20px 0;
}

.tag ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.tag ul li {
    margin: 0 10px;
}

.tag ul li a {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.tag ul li a:hover {
    background-color: #b69df6;
}

.sns-links {
    margin-bottom: 10px;
}

.sns-links a {
    margin: 0 20px;
    padding: 10px;
}

.sns-links img {
    height: 30px;
    transition: transform 0.3s;
}

.sns-links img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    .info {
        margin: 20px 0 0 0;
    }
}
